[Desktop Entry]
Name=goose-plus
Comment=goose-plus AI agent
Exec=/usr/lib/goose-plus/goose-plus %U
Icon=/usr/share/pixmaps/goose-plus.png
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=goose-plus
MimeType=x-scheme-handler/goose-plus;
